* {
    margin: 0;
    padding: 0;
    /* border: black 1px solid; */
}

body {
    background: #5D868D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: fit-content;
    align-self: center;
    align-content: center;
    font-size: 100%;
    margin: 2% auto;
}

h1 {
    white-space: nowrap;
    font-weight: lighter;
    text-align: center;
}

main {
    width: fit-content;
    align-self: center;
    margin: 0 auto;
}

.element {
    width: 350px;
    background: white;
    margin: 1.5%;
    padding: 1.5%;
    border-radius: 5px;
}


#add-button {
    width: 350px;
}

#add-input {
    border: 0;
}



.contact p {
    color: blueviolet;
}

#delete {
    position: relative;
    left: 300px;
}

/*

<tr id="contact-table' + id + '" class="element">
    <td>
        <table>
            <tr>
                <td>' + name + '</td>
                <td>'+ surname + '</td>
            </tr>
            <tr>
                <td colspan="2">' + phone + '</td>
            </tr>
            <tr>
                <td colspan="2">' + address + '</td>
            </tr>
        </table>
    </td>
    <td>
        <button id="delete">delete</button>
    </td>
</tr>

*/