* {
    margin: 0;
    padding: 0;
    /* border: black 1px solid; */
}


body {
    background: #6DACD3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#background {
    background-color: #5D868D;
    width: 400px;
    height: 100vh;
    min-height: 100vh;
    position: fixed;
    top: 0;
    z-index: -100;
    left: 50%;
    transform: translate(-47.5%, 0);
}

header {
    width: fit-content;
    align-self: center;
    align-content: center;
    font-size: 120%;
    margin: 2% auto;
}

h1 {
    white-space: nowrap;
    text-align: center;
}

#title {
    padding-top: 5%;
    padding-bottom: 5%;
}

#searchbar {
    width: inherit;
    margin-right: 5px;
    margin-left: 5px;
    border: 0;
}

main {
    width: fit-content;
    align-self: center;
    margin: 0 auto;
    scroll-behavior: auto;
}

.element {
    width: 350px;
    background: white;
    margin: 1.5%;
    padding: 1.5%;
    border-radius: 5px;
}

#show-form {
    margin-bottom: 5%;
}

#show-contact-form-button {
    width: 350px;
    border: 0;
    background-color: white;
    cursor: pointer;
}

#add-contact {
    display: none;
}

/* label {
    font-size: 80%;
} */

input,
textarea {
    border: #5D868D 2px solid;
    width: 345px;
    margin-bottom: 2%;
    white-space: pre-wrap;
}

input:focus,
textarea:focus {
    outline: #5D868D;
}

::placeholder {
    color: #5D868D;
}

#add-button,
#add-button input {
    margin: auto;
    background-color: white;
    color: #5D868D;
    font-weight: bold;
    cursor: pointer;
}

#add-button {
    width: 55px;
    position: relative;
    left: 293px;
    border: #5D868D 2px solid;
}

#add-input {
    width: 45px;
    border: 0;
    margin: 0;
    padding: 0;
}

#delete {
    position: relative;
    left: 300px;
    margin: 0;
    padding: 0;
    background-color: white;
    border: #5D868D 2px solid;
    color: #5D868D;
    cursor: pointer;
}

.contact p {
    width: inherit;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: pre;
    margin: 1%;
    font-size: 80%;
}

.contact-label {
    font-style: normal;
    font-size: 80%;
}

.contact-label,
#contact-phone,
#contact-address,
#delete {
    display: none;
}

#name-surname {
    width: 345px;
    background-color: white;
    border: 0;
    font-size: 90%;
    text-align: left;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 60%;
}

footer p,
a {
    display: inline;
    text-decoration: none;
    color: white;
}

#up {
    font-size: 300%;
    position: absolute;
    right: 5px;
    bottom: 0;
    background-color: #5D868D;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}